
*{
    font-size: small;
}

.navbar a{
    color: white;
}

.navbar img{
    background-color: white;
    height: 40px;
    width: 40px;
}

.footer1 a, .footer2 a{
text-decoration: none;
color: black;
}

.section-footer-3 ul{
    list-style: none;
}

.section-footer-3 a{
    text-decoration: none;
    color: white;
}

.product-pic img{
    height: 100px;
    width: 150px;
    margin-bottom: 20px;
    border: 3px solid black;
}